body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 最低でも画面の高さいっぱいまで表示する */
    overflow-x: hidden; /* 横方向のスクロールを禁止 */
}

/* 以下省略 */

#checkbox-container {
        width: 300px;
        margin-bottom: 20px;
        width: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #444; /* Adjusted background color for container */
        padding: 20px; /* Added padding for better spacing */
        border-radius: 10px; /* Added border-radius for rounded corners */
      }
   

label {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust the margin-bottom value to reduce the vertical spacing */
}

.checkbox {
    margin-right: 10px;
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}


.location {
    font-weight: bold;
    margin-right: 10px;
}

.monster {
    color: #e74c3c;;
}


button {
    background-color: #e74c3c;;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #df7367;
}





#expandable-content {
    width: 300px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #444; /* Adjusted background color for container */
    padding: 20px; /* Added padding for better spacing */
    border-radius: 10px; /* Added border-radius for rounded corners */
  }

  
#expandable-content input[type="checkbox"] {
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}


#expand-trigger {
    text-align: center; /* Center-align the content within the container */
}

#expand-trigger-text {
    display: inline-block; /* Make the text an inline-block element */
    cursor: pointer;
}
